<div class="top-page">
  <div class='top-header'>
    <div class="left-top-header">
      <%= link_to image_tag("/IMG_1476.png", class: "library-log"), root_path %>
    </div>
    <div class="right-top-header">
      <%= link_to 'Log in', new_user_session_path, class: 'new-user-wrap' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'new-user-wrap' %>
    </div>
  </div>

  <div class="content">
    <div class='content row'>
      <%= form_with model: @user, url: user_session_path, method: :post, local: true do |f| %>
        <div class='form-wrap'>
          <div class='form-header'>
            <h1 class='form-header-text'>
              ログイン
            </h1>
          </div>
          <div class='login-flash-message'>
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">メールアドレス</label>
            </div>
            <%= f.email_field :email, class:"input-default", id:"email", autofocus: true %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">パスワード</label>
            </div>
            <%= f.password_field :password, class:"input-default", id:"password" %>
          </div>
          <div class='login-btn-wrap'>
            <%= f.submit "ログイン", class: 'login-btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>