<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div>
    <div class="header">
      <%= render "layouts/header" %>
    </div>
    <div class="cards">
      <div class="user-info">
        <div class="upper">
          <div class="user-nickname">
            <%= @user.nickname %>
          </div>
          <div class="user-edit">
            <%= link_to '編集する', '#', class: "user-edit-link" %>
          </div>
        </div>
        <div class="middle">
          <div class="user-profile">
            <%= @user.profile %>
          </div>
        </div>
        <div class="lower">
          <%= link_to 'books()', '#', class: "card-type-select" %>
          <%= link_to 'words()', '#', class: "card-type-select" %>
          <%= link_to 'bookmarks()', '#', class: "card-type-select" %>
        </div>
      </div>
      <%# booksの表示 %>
      <div class="card">
        <div class="card-content">
          <div class="card-name">
          aaaaaaaaa
          </div>
        </div>
        <div class="card-content">
          <div class="card-name">
          a
          </div>
        </div>
      </div>
    </div>
  </div>
</div>