<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div>
    <div class="header">
      <%= render "layouts/header" %>
    </div>
    <div class="books">
      <div class="to-newbook">
        <%= link_to '新規作成', new_book_path, class: "to-newbook-text" %>
      </div>
      <div class="delete-notice">
        <%= flash[:notice] %>
      </div>
      <div class="book">
        <% @books.each do |book| %>
          <div class="book-content">
            <%= link_to image_tag("/IMG_1517.PNG", class: "book-content-log"), book_path(book.id) %>
            <div class="book-title">
              <%= book.title %>
            </div>
            <div class="book-genre">
              <%= book.genre.name %>
            </div>
            <div class="book-user">
              <%= "by #{book.user.nickname}" %>
            </div>
            <div class="book-cover">
              <div class="to-newword">
              <% if user_signed_in? && current_user == book.user %>
                <%= link_to image_tag("/IMG_1514.PNG", class: "to-new-word"), new_book_word_path(book.id) %>
              <% end %>
              </div>
              <%= link_to image_tag("/IMG_1516.PNG", class: "book-chat-log"), book_comments_path(book.id) %>
              <%= link_to image_tag("/IMG_1515.PNG", class: "book-bookmark-log"), '#' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>