<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div class="main">
    <div class="main-wrap">
      <%= render "layouts/header" %>
      <div class="books">
        <div class="to-newbook">
          <div class="breadcrumbs">
            <%= 'ホーム' %>
          </div>
          <%= link_to 'New book', new_book_path, class: "to-newbook-text" %>
        </div>
        <div class="delete-notice">
          <%= flash[:notice] %>
        </div>
        <div class="book-wrap">
          <%= render partial: "layouts/book", collection: @books %>
        </div>
      </div>
    </div>
  </div>
</div>