<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div class="main">
    <div class="main-wrap">
      <%= render "layouts/header" %>
      <div class="books">
        <div class="search-wrap">
          <div class="breadcrumbs">
            <%= 'テスト' %>
          </div>
          <div class="search-rightwrap">
            <div class="search-note">※ジャンルを選択してください</div>
            <%= search_form_for @q, url: quiz_index_books_path, class: "search-form" do |form| %>
              <%= form.search_field :title_cont, placeholder: "   検索する", class: "search-input" %>
              <%= form.select :genre_id_eq, options_from_collection_for_select(Genre.all, :id, :name) %>
              <%= form.submit "検索", class: "search-btn" %>
            <% end %>
          </div>
        </div>
        <div class="book-wrap">
          <% @results.each do |book| %>
            <div class="book">
              <div class="book-content">
                <div class="book-title">
                  <%= book.title %>
                </div>
                <div class="book-genre">
                  <%= book.genre.name %>
                </div>
              </div>
              <div class="book-subcontent">
                <div class="book-date">
                  <%= l(book.created_at, format: :long) %>
                </div>
                <div class="book-user">
                  <%= "by #{book.user.nickname}" %>
                </div>
              </div>
              <%= link_to new_book_quiz_path(book.id), class: "quiz-cover" do %>
                <div>
                  テストする
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="pagenation">
          <%= paginate @results %>
        </div>
      </div>
    </div>
  </div>
</div>