<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div>
    <div class="header">
      <%= render "layouts/header" %>
    </div>
    <div class="show-book-wrap">

      <%# ブックを作成したユーザーにのみ表示する %>
      <div class="edit-book">
      <% if user_signed_in? && current_user == @book.user %>
        <div class="to-editbook">
          <%= link_to '編集する', edit_book_path(@book.id), class: "to-newbook-text" %>
          <%= link_to '削除する', book_path(@book.id), method: :delete, class: "to-newbook-text" %>
        </div>
      <% end %>
      </div>

      <div class="show-book">
        <div class="show-book-contents">
          <div class="show-book-content">
            <%= @book.title %>
          </div>
          <div class="show-book-content">
            <%= @book.genre.name %>
          </div>
          <% if user_signed_in? && current_user == @book.user %>
            <%= link_to "+ ワードを追加する", new_book_word_path(@book.id), class: "to-newword" %>
          <% end %>
          <div class="show-book-content-user">
            <%= "by #{@book.user.nickname}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>