<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div class="main">
    <div class="main-wrap">
      <%= render "layouts/header" %>
      <div class="show-book-wraps">
        <%# ブックを作成したユーザーにのみ表示する %>
        <div class="breadcrumbs-show">
          <div class="breadcrumbs-wrap">
            <%= link_to 'ホーム', books_path, class: "breadcrumbs" %>
            <%= "＞ ブック詳細" %>
          </div>
          <div class="to-editbook">
          <% if user_signed_in? && current_user == @book.user %>
            <%= link_to 'Edit', edit_book_path(@book.id), class: "to-newbook-text" %>
            <%= link_to 'Delete', book_path(@book.id), method: :delete, class: "to-newbook-text" %>
          <% end %>
          </div>
        </div>
        <div class="show-book-wrap">
          <div class="book-header">
            <%= link_to 'ワード一覧', book_words_path(@book.id), class: "book-header-text" %>
          </div>
          <%= render partial: "layouts/book", locals:{ book: @book } %>
        </div>
      </div>
    </div>
  </div>
</div>