<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div class="main">
    <div class="main-wrap">
      <%= render "layouts/header" %>
      <div class="words">
        <div class="word-index-header">
          <div class="word-index-left-header">
            <%= link_to 'ホーム', books_path, class: "breadcrumbs-word" %> ＞
            <%= link_to 'ブック詳細', book_path(@book.id), class: "breadcrumbs-word" %>
            <%= "＞ ワード一覧" %>
          </div>
          <div class="word-book-info">
            <div class="word-book-title"><%= strip_tags(@book.title).truncate(10) %></div>
            <div class="word-book-genre"><%= @book.genre.name %></div>
            <div class="word-book-user"><%= "by #{@book.user.nickname}" %></div>
          </div>
        </div>
        <div class="book-wrap">
          <%= render partial: "layouts/word", collection: @words %>
        </div>
        <div class="pagenation">
          <%= paginate @words %>
        </div>
      </div>
    </div>
  </div>
</div>
