<div class="book">
  <% if current_user.id == book.user_id %>
    <%= link_to book_path(book.id), class: "book-content" do %>
      <%= image_tag book.image.variant(resize: '400x350'), class: "book-image" if book.image.attached? %>
      <div class="book-title">
        <%= book.title %>
      </div>
      <div class="book-genre">
        <%= book.genre.name %>
      </div>
    <% end %>
  <% else %>
    <%= link_to book_words_path(book.id), class: "book-content" do %>
      <%= image_tag book.image.variant(resize: '400x350'), class: "book-image" if book.image.attached? %>
      <div class="book-title">
        <%= book.title %>
      </div>
      <div class="book-genre">
        <%= book.genre.name %>
      </div>
    <% end %>
  <% end %>
  <div class="book-subcontent">
    <div class="book-date">
      <%= l(book.created_at, format: :long) %>
    </div>
    <div class="book-user">
      <%= "by #{book.user.nickname}" %>
    </div>
  </div>
  <div class="book-cover">
    <div class="to-newword">
    <% if user_signed_in? && current_user == book.user %>
      <%= link_to image_tag("/IMG_1514.PNG", class: "to-new-word"), new_book_word_path(book.id) %>
    <% end %>
    </div>
    <%= link_to image_tag("/IMG_1516.PNG", class: "book-chat-log"), book_comments_path(book.id) %>
    <div id="bookmarks_buttons_<%= book.id %>">
       <%= render partial: 'bookmarks/bookmark', locals: { book: book } %>
    </div>
  </div>
</div>