<%= form_with model: book, local: true do |f| %>
  <%= render partial: 'layouts/error-messages', locals: { model: book }, class: "book-error-alert" %>
  <div class="book">
    <div class="book-content">
      <div class="book-form-text">
        <p>タイトル</p>
      </div>
      <%= f.text_area :title, class:"new-book-title", id:"book-title", placeholder:"タイトル（20文字まで)", maxlength:"20" %>
      <div class="book-form-text">
        <P>ジャンル</p>
      </div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"book-genre"}) %>
      <div class="book-form-text">
        <P>画像</p>
      </div>
      <%= f.file_field :image, id:"item-image" %>
    </div>
    <div class='create-book-btn-wrap'>
      <%= f.submit "作成する", class: 'create-book-btn' %>
      <%= link_to "戻る", books_path, class: 'book-back-btn' %>
    </div>
  </div>
<% end %>