<div class="top-page">
  <div class='devise-header'>
    <div class="left-top-header">
      <%= image_tag("/IMG_1476.png", class: "library-log")%>
    </div>
    <div class="right-top-header">
      <% unless user_signed_in? %>
        <%= link_to 'Log in', new_user_session_path, class: 'new-user-wrap' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'new-user-wrap' %>
      <% end %>
    </div>
  </div>

  <div class="contents">
    <div class="content row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class='form-wrap-edit-account'>
          <div class='form-header'>
            <h1 class='form-header-text'>
              アカウント編集
            </h1>
          </div>
          <%= render partial: 'layouts/error-messages', locals: { model: resource }, class: "error-alert" %>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">ニックネーム</label>
            </div>
            <%= f.text_field :nickname, class:"input-default", id:"nickname", autofocus: true %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">メールアドレス</label>
            </div>
            <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可" %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">プロフィール</label>
            </div>
            <%= f.text_area :profile, class:"input-profile", id:"profile", maxlength:"120" %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">生年月日</label>
            </div>
            <%= raw sprintf(f.date_select(:birth_date, class:'input-birth', id:"birth-date", use_month_numbers: true,
                          start_year: 1940, end_year: (Time.now.year - 10), default: Date.new(2000, 1, 1), date_separator: '%s'), "年", "月") + "日" %>
          </div>
          <div class='login-btn-wrap'>
            <%= f.submit "更新する", class: 'login-btn' %><br>
            <%= link_to "戻る", user_path(current_user.id), class: 'back-btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>